.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin: 1rem 0;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 1rem;
  font: inherit;
  line-height: 1.5rem;
  padding: 0.2rem 0.55rem;
  margin-bottom: 3%;
  color:#efefef;
  background:#0C0E1B;
}

.form-control input:focus {
  outline: none;
  border-color: #FE6F6B;
}

.form-control.invalid input{
  border-color: #FE6F6B;
  background: rgb(221, 163, 163);
}

/* .form-control.invalid label {
  color: red;
} */

.submit {
  width: 100%;
}