.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #FE6F6B;
  border-radius: 3rem;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
  color:#efefef;
  background:#0C0E1B;
}

.form-control input:focus {
  outline: none;
  background: #0352b8;
  border-color: #FE6F6B;
}

.form-control.invalid input{
  border-color: #FE6F6B;; 
  background: rgb(221, 163, 163);
}

/* .form-control.invalid label {
  color: red;
} */