.goal-item {
  margin: 1rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color:#efefef;
  padding: 1rem 2rem;
  cursor: pointer;
  border: 1px solid #FE6F6B;
  border-radius: 1rem;
  background:#0C0E1B;


}
.goal-item:hover,
.goal-item:active {
  background: #5046da;
  transition-duration: 100ms;
  ;
}