#goals, #goal-form {
  width: 100%;
  /* max-width: 90%; */
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border: #09325c solid 2px;
}


.container {
  color:#c9ccea;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  min-height: 100vh;
  background: rgb(39,42,85);
  background: radial-gradient(circle, #222542 0%, #151932 65%); 
}

.card {
  margin-top: 5%;
  height: auto;
  padding: 5%;
  width:45%;
  box-shadow: 0rem 1rem 2rem rgba(0,0,0,0.6);
  border-radius: 5%;
  color: #f5f6f7;
  /* word-wrap: break-word;
  text-align: center; */
}

.footer {
  display: block;
}


@media (max-width: 1440px) {
  .container {
    flex-direction: column;
  }

  .card {
    width: 90%;
  }
  .footer {
  display: block;
  width: 100%;
  }
       
  }