#goals {
  width: 100%;
  /* max-width: 90%; */
  margin: 3rem auto;
  border-radius: 10px;
  border: #09325c solid 2px;
}

#goal-form {
  width: 100%;
  /* max-width: 90%; */
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: #09325c solid 2px;
  
}

.container {
  color:#c9ccea;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: rgb(39,42,85);
  background: radial-gradient(circle, #222542 0%, #151932 65%); 
}

.task-container {
  margin-top: 5%;
  padding: 2%;
  min-width: 90%;
  height: auto;
  padding: 5%;
  /* border: #051a30 solid 2px; */
  box-shadow: 1rem 1.5rem 2rem rgba(0,0,0,0.6);
  border-radius: 5%;
  /* font-family:  monospace, roboto-mono;
  font-style: italic; */
  color: #f5f6f7;
  /* word-wrap: break-word;
  text-align: center; */
}


@media (min-width: 768px) {
  .task-container {
    min-width: 50%;}
       
     }